# Environment (development | production)
NODE_ENV=development
PORT=5000

# Database Connections
MONGO_URI_LOCAL=mongodb://127.0.0.1:27017/apsfl_cable_manager
MONGO_URI_ATLAS=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/apsfl_manager

# Secrets & Authentication
OPERATOR_CODE=your_secret_operator_code_here
JWT_SECRET=your_super_secret_jwt_key_here